NODE_ENV=development
HOST=0.0.0.0
PORT=3000
DATABASE_URL=postgresql://notifai:notifai_dev@127.0.0.1:5433/notifai?schema=public
REDIS_URL=redis://localhost:6379
POSTGRES_USER=notifai
POSTGRES_PASSWORD=notifai_dev
POSTGRES_DB=notifai
