NODE_ENV=development
HOST=0.0.0.0
PORT=3000
DATABASE_URL=postgresql://notifybell:notifybell_dev@localhost:5432/notifybell?schema=public
REDIS_URL=redis://localhost:6379
POSTGRES_USER=notifybell
POSTGRES_PASSWORD=notifybell_dev
POSTGRES_DB=notifybell
